*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: rgb(68,45,76);
    background: linear-gradient(90deg, rgb(59, 35, 68) 0%, rgba(27,13,33,1) 100%);
    height: 100vh;
    overflow: hidden;
    color: white;
}

button, a{
    cursor: pointer
}

hr{
    width: 100%;
}

.aberto{
    display: block !important;
}

#divInfo {
    border: 2px solid rgb(207, 177, 218);
    width: 40vw;
    border-radius: 5%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(27, 13, 33, 1);
    padding: 5% 2%;
    font-size: calc(1vmax + 10px);
}

#divInfo img{
    width: calc(2vmax + 10px);
}

#divInfo h2{
    align-items: center;
    display: flex;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 20%;
    margin-bottom: 5%;
}

.box h1{
    font-size: calc(1.5vmax + 15px);
}

.box img{
    width: calc(2vmax + 5px);
}

#seta{
    margin-right: auto;
}

#info{
    margin-left: auto;
}

#seta:hover, #info:hover{
    cursor: pointer;
    background-size: 150%;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 100%;
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
  }